<section id="Trabalhos" class="blc-interno">
	
	<div class="lista">
		<ul>

			<li data-projeto="teste">
				<div class="content" style="background-color: red;">
					<a href="#/trabalhos/teste" class="sumemo"></a>
					<div class="cont-loader"></div>
					<div class="wrapper">
						<div class="computer" style="background: url(src/img/folio-img-1.png) no-repeat 0 0;"></div>
						<div class="info">
							<div class="info-wrp">
								<h4>RED DIAMOND</h4>
								<p>UMA NOVA EXPERIÊNCIA NA VENDA<br/>DE FERRAMENTAS DE CORTE</p>
								<div class="arrow"></div>
							</div>
							<div class="dtl"></div>
						</div>
					</div>
					<img src="src/img/folio-img-bg-1.jpg" alt="" class="grayscale unselectable">
				</div>
			</li>

			<li data-projeto="teste2">
				<div class="content" style="background-color: blue;">
					<a href="#/trabalhos/teste2" class="sumemo"></a>
					<div class="cont-loader"></div>
					<div class="wrapper">
						<div class="computer" style="background: url(src/img/folio-img-1.png) no-repeat 0 0;"></div>
						<div class="info">
							<div class="info-wrp">
								<h4>RED DIAMOND</h4>
								<p>UMA NOVA EXPERIÊNCIA NA VENDA<br/>DE FERRAMENTAS DE CORTE</p>
								<div class="arrow"></div>
							</div>
							<div class="dtl"></div>
						</div>
					</div>
					<img src="src/img/folio-img-bg-1.jpg" alt="" class="grayscale unselectable">
				</div>
			</li>


		</ul>
	</div>


	<div class="trabalho-loaded">
		<div class="wrp">
			
			

		</div>
	</div>


</section>