<section id="Trabalhos" class="blc-interno">
	
	<div class="lista">
		<ul>

			<li data-projeto="inace">
				<div class="content" style="background-color: #606060;">
					<a href="#/trabalhos/inace" class="sumemo"></a>
					<div class="cont-loader"></div>
					<div class="wrapper">
						<div class="computer" style="background: url(src/templates/trabalhos/inace/cover-scr-2.png) no-repeat 0 0;"></div>
						<div class="info">
							<div class="info-wrp">
								<h4>INACE</h4>
								<p>ESTALEIRA / SHIPYARD<br/>SITE INSTITUCIONAL</p>
								<div class="arrow"></div>
							</div>
							<div class="dtl"></div>
						</div>
					</div>
					<img src="src/templates/trabalhos/inace/cover-bg.jpg" alt="" class="grayscale unselectable">
				</div>
			</li>

			<li data-projeto="gourmar">
				<div class="content" style="background-color: #3b4b8d;">
					<a href="#/trabalhos/gourmar" class="sumemo"></a>
					<div class="cont-loader"></div>
					<div class="wrapper">
						<div class="computer" style="background: url(src/templates/trabalhos/gourmar/cover-scr-2.png) no-repeat 0 0;"></div>
						<div class="info">
							<div class="info-wrp">
								<h4>GOURMAR PESCADOS</h4>
								<p>CAMARÕES DE QUALIDADE<br/>SITE INSTITUCIONAL</p>
								<div class="arrow"></div>
							</div>
							<div class="dtl"></div>
						</div>
					</div>
					<img src="src/templates/trabalhos/gourmar/cover-bg.jpg" alt="" class="grayscale unselectable">
				</div>
			</li>

			<li data-projeto="red">
				<div class="content" style="background-color: #f40a0a;">
					<a href="#/trabalhos/red" class="sumemo"></a>
					<div class="cont-loader"></div>
					<div class="wrapper">
						<div class="computer" style="background: url(src/templates/trabalhos/red/cover-scr-2.png) no-repeat 0 0;"></div>
						<div class="info">
							<div class="info-wrp">
								<h4>RED DIAMONDS</h4>
								<p>UMA NOVA EXPERIÊNCIA NA VENDA<br/>DE FERRAMENTAS DE CORTE</p>
								<div class="arrow"></div>
							</div>
							<div class="dtl"></div>
						</div>
					</div>
					<img src="src/templates/trabalhos/red/cover-bg.jpg" alt="" class="grayscale unselectable">
				</div>
			</li>

			<li data-projeto="tacombinado">
				<div class="content" style="background-color: #1c9e97;">
					<a href="#/trabalhos/tacombinado" class="sumemo"></a>
					<div class="cont-loader"></div>
					<div class="wrapper">
						<div class="computer" style="background: url(src/templates/trabalhos/tacombinado/cover-scr-2.png) no-repeat 0 0;"></div>
						<div class="info">
							<div class="info-wrp">
								<h4>TÁ COMBINADO</h4>
								<p>UM BLOG TOTALMENTE DIFERENTE<br/>MODA ACESSÍVEL TÁ NA MODA</p>
								<div class="arrow"></div>
							</div>
							<div class="dtl"></div>
						</div>
					</div>
					<img src="src/templates/trabalhos/tacombinado/cover-bg.jpg" alt="" class="grayscale unselectable">
				</div>
			</li>

			<li data-projeto="tecer">
				<div class="content" style="background-color: #1c1f3d;">
					<a href="#/trabalhos/tecer" class="sumemo"></a>
					<div class="cont-loader"></div>
					<div class="wrapper">
						<div class="computer" style="background: url(src/templates/trabalhos/tecer/cover-scr-2.png) no-repeat 0 0;"></div>
						<div class="info">
							<div class="info-wrp">
								<h4>TECER</h4>
								<p>TERMINAIS PORTUÁRIOS<br/>SITE INSTITUCIONAL</p>
								<div class="arrow"></div>
							</div>
							<div class="dtl"></div>
						</div>
					</div>
					<img src="src/templates/trabalhos/tecer/cover-bg.jpg" alt="" class="grayscale unselectable">
				</div>
			</li>

			<li data-projeto="metropole">
				<div class="content" style="background-color: #869f53;">
					<a href="#/trabalhos/metropole" class="sumemo"></a>
					<div class="cont-loader"></div>
					<div class="wrapper">
						<div class="computer" style="background: url(src/templates/trabalhos/metropole/cover-scr-2.png) no-repeat 0 0;"></div>
						<div class="info">
							<div class="info-wrp">
								<h4>TV METRÓPOLE</h4>
								<p>SITE INSTITUCIONAL</p>
								<div class="arrow"></div>
							</div>
							<div class="dtl"></div>
						</div>
					</div>
					<img src="src/templates/trabalhos/metropole/cover-bg.jpg" alt="" class="grayscale unselectable">
				</div>
			</li>


			<li data-projeto="vega">
				<div class="content" style="background-color: #454c9b;">
					<a href="#/trabalhos/vega" class="sumemo"></a>
					<div class="cont-loader"></div>
					<div class="wrapper">
						<div class="computer" style="background: url(src/templates/trabalhos/vega/cover-scr-2.png) no-repeat 0 0;"></div>
						<div class="info">
							<div class="info-wrp">
								<h4>VEGA TRANSPORTES</h4>
								<p>SITE INSTITUCIONAL</p>
								<div class="arrow"></div>
							</div>
							<div class="dtl"></div>
						</div>
					</div>
					<img src="src/templates/trabalhos/vega/cover-bg.jpg" alt="" class="grayscale unselectable">
				</div>
			</li>


		</ul>
	</div>


	<div class="trabalho-loaded">
		<div class="wrp">
			
			

		</div>
	</div>


</section>