<div id="t-red" class="trab-estilo">

	<div class="descricao">
		<div class="top">
			<h4>RED DIAMONDS</h4>
			<p>UMA NOVA EXPERIÊNCIA NA VENDA<br/>DE FERRAMENTAS DE CORTE</p>
		</div>
		<p class="text">
			A Red Diamond é uma empresa brasileira que atua no mercado da construção civíl, oferecendo ferramentas de alta performance aos mais diversos profissionais do mercado. Somando a experiência de mais de 20 anos de experiência no mercado, a empresa também comercializa seus produtos no mercado europeu.
		</p>
		<div class="btn-access"><a href="http://reddiamondtools.com.br" target="_blank">ACESSAR WEBSITE</a></div>
	</div>
	
	
	<div class="img-1"><img src="src/templates/trabalhos/red/img-1.png" alt=""></div>


	<div class="bloco-text">
		<h3>PROCESSO</h3>
		<p class="t">
			Ferramentas de corte e equipamento especializado para um público muito exigente. Mostrar a grande variedade de modelos de forma clara e direta foi o mote do projeto. A Red Diamond tem uma identidade forte e exploramos seus elementos e características em todo o projeto. 
		</p>
		<p class="t">
			O grande destaque do design foi a produção de fotos exclusivas, o que valorizou muito a interface e criou uma ligação perfeita com a marca. Uma pré-venda simples e muito prática foi um dos destaques para o sucesso do projeto. 
		</p>
	</div>
	
	<img src="src/templates/trabalhos/red/img-2.jpg" alt="" style="margin-top: 80px;">
	<img src="src/templates/trabalhos/red/img-3.png" alt="" style="margin-top: 730px;">
	<img src="src/templates/trabalhos/red/img-4.png" alt="" style="margin-top: 50px;">
	<img src="src/templates/trabalhos/red/img-5.jpg" alt="" style="margin-top: 88px;">

	<div class="next">
		<a href="#/trabalhos/tacombinado"></a>
		<div class="top">
			<h4>TÁ COMBINADO</h4>
			<p>VEJA O<br/>PRÓXIMO PROJETO</p>
			<div class="arrow"></div>
		</div>
	</div>

</div>