<div id="t-metropole" class="trab-estilo">

	<div class="descricao">
		<div class="top">
			<h4>TV METRÓPOLE</h4>
			<p>SITE INSTITUCIONAL</p>
		</div>
		<p class="text">
			A TV Metrópole canal 26, é uma emissora de televisão brasileira de caráter educativo e cultural com sede administrativa em Fortaleza no Estado do Ceará. O público alvo da TV são estudantes, universitários, empresários, profissionais liberais, autônomos e pessoas interessadas em ampliar os seus conhecimentos em cultura, educação, sociabilização, conscientização e solidariedade. A empresa apresentou a necessidade de organizar o fluxo e a apresentação de seus conteúdos de uma forma mais padronizada e que valorizasse sua imagem no ambiente digital, haja vista que a visibilidade da mídia tv já era forte. A ideia era desenvolver um website com conteúdos bastantes ricos, onde o usuário pudesse ter informações como: programações, notícias e que pudessem ali mesmo compartilhar e maximizar a replicação desses conteúdos.
		</p>
		<div class="btn-access"><a href="#">ACESSAR WEBSITE</a></div>
	</div>
	
	<div class="img-1"><img src="src/templates/trabalhos/metropole/img-1.png" alt=""></div>

	<img src="src/templates/trabalhos/metropole/img-2.jpg" alt="" style="margin-top: 34px;">

	<div class="bloco-text">
		<h3>IDENTIDADE DIGITAL</h3>
		<p class="t">
			Um dos grandes diferenciais da TV Metrópole está na sua programação, destaque para séries antigas como Perdidos no Espaço e Macgyver, desenhos do estúdio Hanna-Barbera dentre eles os Jetsons, Corrida maluca e He-man e filmes clássicos como Mazzaropi e Sherlock Holmes. Valorizar a programação de qualidade foi nosso ponto chave do projeto, resolvemos criar páginas especiais para as séries, desenhos e filmes com conteúdos específicos e ficha técnica.
		</p>
		<p class="t">
			Os programas próprios também receberam um destaque importante nos blogs individuais, proporcionando uma interação de segunda tela com o público. O conteúdo de notícias e artigos próprios receberam destaque na página inicial e todos os vídeos dos programas também foram disponibilizados.
		</p>
	</div>

	<img src="src/templates/trabalhos/metropole/img-3.jpg" alt="" style="margin-top: 50px;">
	<img src="src/templates/trabalhos/metropole/img-4.jpg" alt="" style="margin-top: 40px;">
	<img src="src/templates/trabalhos/metropole/img-5.jpg" alt="" style="margin-top: 155px;">

	<div class="bloco-text processo">
		<h3>PROCESSO</h3>
		<p class="t">
			Para entender sobre o funcionamento da TV Metrópole, iniciamos um processo de imersão na emissora. Visitamos seu estúdio e todos os departamentos técnicos e de produção para coletar informações e perceber as nuances que o projeto iria tomar. A presença direta no ambiente de produção facilitou muito nosso entendimento e o conhecimento particular dessa emissora. Produzimos fotos próprias do ambiente e das pessoas para compor o conceito da Direção de Arte e traduzir a cultura da TV Metrópole.
		</p>
	</div>

	<img src="src/templates/trabalhos/metropole/img-6.jpg" alt="" style="margin-top: 475px;">

	<div class="next">
		<a href="#"></a>
		<div class="top">
			<h4>RED DIAMOND</h4>
			<p>VEJA O<br/>PRÓXIMO PROJETO</p>
			<div class="arrow"></div>
		</div>
	</div>

</div>