<div class="footer-wrp">
	
	<div class="social">
		<ul>
			<li><a href="http://facebook.com/pipadigital">A</a></li>
			<li><a href="http://twitter.com/pipadigital">C</a></li>
			<li><a href="http://be.net/pipadigital">D</a></li>
			<li><a href="https://plus.google.com/+PipadigitalBr/posts">E</a></li>
		</ul>
	</div>
	<div class="copy-menu">
		<p class="copy">©2014 PIPA ESTÚDIO DIGITAL</p>
		<ul class="footer-nav">
			<li><a href="#/cultura">CULTURA</a></li>
			<li><a href="#/negocios">NEGÓCIOS</a></li>
			<li><a href="#/trabalhos">TRABALHOS</a></li>
			<li><a href="#/contato">CONTATO</a></li>
			<li><a href="http://pipadigital.blog.br/">BLOG</a></li>
		</ul>
	</div>

</div>