<div id="t-inace" class="trab-estilo">

	<div class="descricao">
		<div class="top">
			<h4>INACE</h4>
			<p>SITE INSTITUCIONAL</p>
		</div>
		<p class="text">
			A Inace é uma empresa privada, localizada no município de Fortaliza, no estado do Ceará e 100% brasileira, Líder nacional na construção de iates de luxos e navios patrulha, como também um dos maiores fornecedores de embarcações offshore. São quase 900 embarcações entregues em mais de quatro décadas aliando tradição e inovação constante na construção naval. Faz parte de um grupo com mais duas empresas: Marina Park Hotel e Interfrios.
		</p>
		<div class="btn-access"><a href="http://inace.com.br" target="_blank">ACESSAR WEBSITE</a></div>
	</div>
	
	
	<div class="img-1"><img src="src/templates/trabalhos/inace/img-1.png" alt=""></div>


	<div class="bloco-text">
		<h3>PROCESSO</h3>
		<p class="t">
			Criar um site para o Estaleiro foi um grande desafio, a Inace é referência na fabricação de embarcações de alto nível, mostrar seu grande portfólio de iates, militar e offshore, necessitou um grande esforço de entendimento e imersão para elaborar uma arquitetura inteligente e uma interface rica e elegante.
		</p>
		<p class="t">
			Buscamos referências diversas e identificamos uma identidade única para a Inace que se diferencia e inova no ambiente digital. O design e a tecnologia aplicada reflete da grandeza do estaleiro e torna um case importante para o segmento.
		</p>
	</div>
	

	<img src="src/templates/trabalhos/inace/img-2.jpg" alt="">
	<img src="src/templates/trabalhos/inace/img-3.jpg" alt="" style="margin-top: 810px;">
	<img src="src/templates/trabalhos/inace/img-4.png" alt="" style="margin-top: 80px;">
	<img src="src/templates/trabalhos/inace/img-5.jpg" alt="" style="margin-top: 1236px;">
	<img src="src/templates/trabalhos/inace/img-6.png" alt="" style="margin-top: 70px;">



	<div class="next">
		<a href="#/trabalhos/gourmar"></a>
		<div class="top">
			<h4>GOURMAR PESCADOS</h4>
			<p>VEJA O<br/>PRÓXIMO PROJETO</p>
			<div class="arrow"></div>
		</div>
	</div>

</div>