<div class="trab-estilo" style="background-color: #d40101;">

				<div class="descricao">
					<div class="top">
						<h4>RED DIAMOND</h4>
						<p>UMA NOVA EXPERIÊNCIA NA VENDA<br/>DE FERRAMENTAS DE CORTE</p>
					</div>
					<p class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non laoreet quam. Donec consequat posuere orci, et aliquet ligula sollicitudin at. Duis a fermentum ipsum, ac pretium lacus. Quisque vel dolor egestas, vehicula nunc vitae, dignissim erat. Suspendisse potenti. 
					</p>
				</div>
				
				<img src="src/templates/trabalhos/teste/img-1.png" alt="">
				<img src="https://c1.staticflickr.com/7/6062/6047380891_fdf491a280_b.jpg" alt="">
				<img src="http://38.media.tumblr.com/d23deac40b06633b79520a8552f40b94/tumblr_nb1uhrRrge1st5lhmo1_1280.jpg" alt="">
				<!-- <img src="http://33.media.tumblr.com/d59fde7754e24629be674872632e7556/tumblr_nb1udanVmD1st5lhmo1_1280.jpg" alt="">
				<img src="http://38.media.tumblr.com/270fdb260d40531864a75f5bda13542a/tumblr_nb1v0kRVxo1st5lhmo1_1280.jpg" alt=""> -->

				<div class="next">
					<a href="#"></a>
					<div class="top">
						<h4>RED DIAMOND</h4>
						<p>VEJA O<br/>PRÓXIMO PROJETO</p>
						<div class="arrow"></div>
					</div>
				</div>

			</div>