<div id="t-tacombinado" class="trab-estilo">

	<div class="descricao">
		<div class="top">
			<h4>TÁ COMBINADO</h4>
			<p>UM BLOG TOTALMENTE DIFERENTE<br/>MODA ACESSÍVEL TÁ NA MODA</p>
		</div>
		<p class="text">
			Cras molestie, nunc eu posuere ullamcorper, odio purus ultrices eros, et feugiat odio nibh ut risus. Quisque gravida, erat et scelerisque consectetur, tortor augue congue nulla, id venenatis sapien leo eget ipsum. Nam posuere ut nisi feugiat pharetra. Donec eu pulvinar nisl. Nulla justo dui, vehicula quis turpis quis, fringilla ornare nibh. Nullam pretium sapien vel dolor dictum, ut consectetur nisl pretium. In semper sollicitudin dolor, quis tempus neque malesuada dictum. Nullam accumsan molestie sapien, at elementum est posuere at. 
		</p>
		<div class="btn-access"><a href="#">ACESSAR WEBSITE</a></div>
	</div>
	
	
	<div class="img-1"><img src="src/templates/trabalhos/tacombinado/img-1.png" alt=""></div>


	<div class="bloco-text">
		<h3>IDENTIDADE VISUAL</h3>
		<p class="t">
			Um dos grandes diferenciais da TV Metrópole está na sua programação, destaque para séries antigas como Perdidos no Espaço e Macgyver, desenhos do estúdio Hanna-Barbera dentre eles os Jetsons, Corrida maluca e He-man e filmes clássicos como Mazzaropi e Sherlock Holmes. Valorizar a programação de qualidade foi nosso ponto chave do projeto, resolvemos criar páginas especiais para as séries, desenhos e filmes com conteúdos específicos e ficha técnica.
		</p>
		<p class="t">
			Os programas próprios também receberam um destaque importante nos blogs individuais, proporcionando uma interação de segunda tela com o público. O conteúdo de notícias e artigos próprios receberam destaque na página inicial e todos os vídeos dos programas também foram disponibilizados.
		</p>
	</div>


	<img src="src/templates/trabalhos/tacombinado/img-2.jpg" alt="">
	<img src="src/templates/trabalhos/tacombinado/img-3.png" alt="" style="margin-top: 30px;">
	<img src="src/templates/trabalhos/tacombinado/img-4.jpg" alt="" style="margin-top: 30px;">

	<div class="space"></div>
	

	<div class="next">
		<a href="#"></a>
		<div class="top">
			<h4>RED DIAMOND</h4>
			<p>VEJA O<br/>PRÓXIMO PROJETO</p>
			<div class="arrow"></div>
		</div>
	</div>

</div>