<div id="t-tacombinado" class="trab-estilo">

	<div class="descricao">
		<div class="top">
			<h4>TÁ COMBINADO</h4>
			<p>UM BLOG TOTALMENTE DIFERENTE<br/>MODA ACESSÍVEL TÁ NA MODA</p>
		</div>
		<p class="text">
			O portal Tá Combinado leva ao público o mundo da moda com várias dicas e tendências. Idealizado pelo consultor de moda Cláudio Ferreira, que é expert no assunto, trabalhou na Tv Diário e Tv Jangadeiro como figurinista, tendo passagem como vitrinista e consultor de moda em algumas lojas conhecidas em todo o mundo, tal como:Ellus, Colcci, Fórum, entre outras. O portal é um excelente lugar para quem quer estar na moda e tirar suas dúvidas sobre o assunto.
		</p>
	</div>
	
	
	<div class="img-1"><img src="src/templates/trabalhos/tacombinado/img-1.png" alt=""></div>


	<div class="bloco-text">
		<h3>PROCESSO</h3>
		<p class="t">
			Um blog de moda com muito design, usamos os elementos padrão de blogs, mas não precisava ser chato. Acrescentamos muito estilo em cada elemento da página e criamos páginas diferentes para cada conteúdo específico. Um tema de blog especial para um conteúdo bem diferenciado.
		</p>
	</div>


	<img src="src/templates/trabalhos/tacombinado/img-2.jpg" alt="">
	<img src="src/templates/trabalhos/tacombinado/img-3.png" alt="" style="margin-top: 30px;">
	<img src="src/templates/trabalhos/tacombinado/img-4.jpg" alt="" style="margin-top: 30px;">

	<div class="space"></div>
	

	<div class="next">
		<a href="#/trabalhos/tecer"></a>
		<div class="top">
			<h4>TECER</h4>
			<p>VEJA O<br/>PRÓXIMO PROJETO</p>
			<div class="arrow"></div>
		</div>
	</div>

</div>