@font-face {
  font-family: 'helv';
  src: url('fonts/helvlt.eot');
  src: local('☺'), url('fonts/helvlt.woff') format('woff'), url('fonts/helvlt.ttf') format('truetype'), url('fonts/helvlt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helv';
  src: url('fonts/helvbld.eot');
  src: local('☺'), url('fonts/helvbld.woff') format('woff'), url('fonts/helvbld.ttf') format('truetype'), url('fonts/helvbld.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?utqum5');
  src: url('fonts/icomoon.eot?#iefixutqum5') format('embedded-opentype'), url('fonts/icomoon.woff?utqum5') format('woff'), url('fonts/icomoon.ttf?utqum5') format('truetype'), url('fonts/icomoon.svg?utqum5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook:before {
  content: "\41";
}
.icon-icon_5804:before {
  content: "\42";
}
.icon-twitter:before {
  content: "\43";
}
.icon-behance:before {
  content: "\44";
}
.icon-google-plus:before {
  content: "\45";
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'helv';
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
::-moz-selection {
  background: #06b3e6;
  text-shadow: none;
}
::selection {
  background: #06b3e6;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}
a.full {
  width: 100%;
  height: 100%;
  display: block;
}
ul,
li {
  list-style-type: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}
#content {
  width: 100%;
  height: 100%;
  position: relative;
  /*

	view_Home.less

*/
  /*

	view_Cultura.less

*/
  /*

	view_Trabalhos.less

*/
  /*

	view_Negocios.less

*/
  /*

	view_Contato.less

*/
}
#content #logo {
  width: 280px;
  height: 170px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
#content #logo #logo-container {
  width: 169px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -21px 0 0 -84.5px;
  z-index: 2;
}
#content #logo #logo-container .logo-svg {
  width: 169px;
  height: 142px;
}
#content #logo a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
#content #logo .shadow {
  width: 272px;
  height: 196px;
  background: url(../img/logo-shadow.png) no-repeat 0 0;
  position: absolute;
  top: 0;
  left: 0;
}
#content #logo .plate {
  width: 100%;
  height: 100%;
  background: #06b3e6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#content #main-nav {
  width: 190px;
  height: 280px;
  position: fixed;
  top: 170px;
  left: 0;
  z-index: 9999;
  display: block;
}
#content #main-nav ul {
  position: relative;
  margin: 56px 0 0 56px;
}
#content #main-nav ul li {
  width: 100%;
  display: block;
}
#content #main-nav ul li h4 {
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
  letter-spacing: -1px;
}
#content #main-nav ul li h4 a {
  color: white;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}
#content #main-nav ul li h4 a:hover {
  color: #adadad;
}
#content #main-nav ul li .submenu {
  width: 100%;
  height: 0px;
  display: block;
  margin: 0;
  overflow: hidden;
}
#content #main-nav ul li .submenu li {
  width: auto;
  display: table;
  clear: both;
  position: relative;
}
#content #main-nav ul li .submenu li:first-child {
  margin-top: 10px;
}
#content #main-nav ul li .submenu li:last-child {
  margin-bottom: 10px;
}
#content #main-nav ul li .submenu li:before {
  content: "";
  width: 0px;
  height: 1px;
  background: #2d2d2d;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}
#content #main-nav ul li .submenu li a {
  width: auto;
  display: table;
  font-family: 'helv';
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -1px;
  color: #606060;
  line-height: 21px;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  padding-left: 15px;
}
#content #main-nav ul li .submenu li a:hover {
  color: #06b3e6;
}
#content #main-nav ul li .submenu li.active:before {
  width: 10px;
}
#content #main-nav ul li .submenu li.active a {
  color: #2d2d2d;
}
#content #main-nav ul li .submenu li.active a:hover {
  color: #2d2d2d;
}
#content #main-nav ul li .submenu li:hover:before {
  width: 10px;
}
#content #main-nav.pag-interna ul li.active h4 a {
  color: #2d2d2d;
}
#content #main-nav.pag-interna ul li h4 a {
  color: #adadad;
}
#content #main-nav.pag-interna ul li h4 a:hover {
  color: #2d2d2d;
}
#content #load-content {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#content #load-content .blc-interno {
  width: 90%;
  float: right;
  background: #f9f9f9;
}
#content #load-content .blc-interno .info {
  width: 850px;
  margin: 0 auto;
}
#content #load-content .blc-interno .info .title {
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 45px;
}
#content #load-content .blc-interno .info .text {
  width: 100%;
  overflow: hidden;
}
#content #load-content .blc-interno .info .text p {
  width: -3.33333333%;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0px;
  color: #ffffff;
  line-height: 24px;
}
#content #Home {
  width: 100%;
  position: relative;
}
#content #Home #feature {
  background: #2d2d2d;
  overflow: hidden;
}
#content #Home #feature .wrp {
  width: 100%;
  height: 100%;
  position: relative;
}
#content #Home #feature .wrp .btn-next,
#content #Home #feature .wrp .btn-prev {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 50%;
  z-index: 50;
  cursor: pointer;
  opacity: 0.2;
}
#content #Home #feature .wrp .btn-next svg,
#content #Home #feature .wrp .btn-prev svg {
  width: 90px;
  height: 90px;
  display: block;
}
#content #Home #feature .wrp .btn-next {
  right: 100px;
  margin-top: -88px;
}
#content #Home #feature .wrp .btn-prev {
  right: 100px;
  margin-top: 8px;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
}
#content #Home #feature .wrp .btn-blog {
  width: 90px;
  height: 120px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -27px;
  cursor: pointer;
  z-index: 9999;
}
#content #Home #feature .wrp .btn-blog h4 {
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  letter-spacing: -1px;
  color: white;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}
#content #Home #feature .wrp .btn-blog #btn-blog-arrow {
  width: 10px;
  height: 30px;
  margin: 4px auto 0;
  display: block;
  position: relative;
  z-index: 1;
}
#content #Home #feature .wrp .btn-blog #btn-blog-circle {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 200px;
  left: 0;
  z-index: 0;
}
#content #Home #feature .wrp .slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#content #Home #feature .wrp .slider .sld {
  width: 100%;
  height: 100%;
}
#content #Home #feature .wrp .slider .sld .sld-wrp {
  width: 1120px;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -560px;
}
#content #Home #feature .wrp .slider .sld .sld-wrp .computer-img {
  width: 668px;
  height: 524px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -262px 0 0 -334px;
}
#content #Home #feature .wrp .slider .sld .sld-wrp .illustration {
  position: absolute;
  top: 50%;
  left: 50%;
}
#content #Home #feature .wrp .slider .sld .sld-wrp .info {
  width: 500px;
  height: 35px;
  position: absolute;
}
#content #Home #feature .wrp .slider .sld .sld-wrp .info a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#content #Home #feature .wrp .slider .sld .sld-wrp .info h4 {
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
  letter-spacing: -1px;
  width: auto;
  float: left;
  text-align: right;
}
#content #Home #feature .wrp .slider .sld .sld-wrp .info p {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -1px;
  color: #ffffff;
  line-height: 15px;
  width: auto;
  float: right;
  padding-top: 9px;
}
#content #Home #feature .wrp .slider .sld.red-diamond {
  background: #2d2d2d;
}
#content #Home #feature .wrp .slider .sld.red-diamond .sld-wrp .illustration {
  width: 407px;
  height: 463px;
  margin-top: -90px;
  margin-left: -604px;
}
#content #Home #feature .wrp .slider .sld.red-diamond .sld-wrp .info {
  width: 350px;
  top: 50%;
  right: 0;
  left: inherit;
  margin-top: 180px;
  margin-left: 152px;
}
#content #Home #feature .wrp .slider .sld.pipa .sld-wrp .frase {
  width: 848px;
  height: 347px;
  background: url(../img/sld-home-pipa-2.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -173.5px 0 0 -424px;
}
#content #Home #feature .wrp .slider .sld.pipa .sld-wrp .illustration {
  width: 580px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -290px 0 0 -290px;
  z-index: -1;
}
#content #Home #feature .wrp .slider .sld.pipa .sld-wrp p {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -1px;
  color: #ffffff;
  line-height: 15px;
  padding-top: 9px;
  width: 350px;
  top: 50%;
  left: 0;
  margin-top: 205px;
  margin-left: 152px;
}
#content #Home #blog-articles {
  width: 100%;
  position: relative;
}
#content #Home #blog-articles .wrp {
  width: 100%;
  position: relative;
}
#content #Home #blog-articles .wrp .header {
  width: 100%;
  overflow: hidden;
  background: #f7f7f7;
  padding: 52px 0;
}
#content #Home #blog-articles .wrp .header.fixed {
  position: fixed;
  top: 0;
  z-index: 8000;
}
#content #Home #blog-articles .wrp .header .header-wrp {
  width: 100%;
  padding-left: 340px;
}
#content #Home #blog-articles .wrp .header .header-wrp h4 {
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: #939393;
  float: left;
}
#content #Home #blog-articles .wrp .header .header-wrp a {
  width: auto;
  padding: 13px 16px 8px;
  background: #7a7a7a;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0px;
  color: #ffffff;
  float: right;
  margin: 16px 50px 0 0;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}
#content #Home #blog-articles .wrp .header .header-wrp a:hover {
  background: #2d2d2d;
}
#content #Home #blog-articles .wrp .posts-list {
  width: 100%;
  padding: 140px;
  display: table;
}
#content #Home #blog-articles .wrp .posts-list.fixed ul {
  margin-top: 170px;
}
#content #Home #blog-articles .wrp .posts-list ul {
  width: 25%;
  float: left;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item {
  width: 100%;
  position: relative;
  display: block;
  float: left;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.over {
  z-index: 5000 !important;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item a.full {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item .info {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 40px;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item .info .dtl {
  width: 0;
  height: 5px;
  margin: 0 auto 40px;
  background: #06b3e6;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item .info .category {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0px;
  color: #ffffff;
  line-height: 20px;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item .info .category:after {
  content: "/";
  width: auto;
  display: table;
  float: left;
  margin-left: 10px;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item .info .category a {
  width: auto;
  display: table;
  float: left;
  color: white;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}
#content #Home #blog-articles .wrp .posts-list ul .post-item .info .category a:hover {
  color: #e6e6e6;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item .info .autor {
  width: 100%;
  float: left;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0px;
  color: #ffffff;
  line-height: 20px;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item .info .title {
  width: 100%;
  float: left;
  margin-top: 30px;
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-weight: 400;
  font-style: normal;
  font-size: 62px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: -1px;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item .img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: #adadad;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.cat-dev {
  height: 600px;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.cat-dev .info .autor {
  color: #06b3e6;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.cat-dev .info .title {
  color: #06b3e6;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.cat-dev .img {
  background: #2d2d2d;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.cat-buss {
  height: 600px;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.cat-buss .info .dtl {
  background: #2d2d2d;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.cat-buss .info .autor {
  color: black;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.cat-buss .info .title {
  color: #2d2d2d;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.cat-buss .img {
  background: #939393;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.cat-design {
  height: 600px;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.cat-design.sq {
  height: 400px;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.cat-design .info .dtl {
  background: white;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.cat-design .info .autor {
  color: black;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.cat-design .info .title {
  color: #2d2d2d;
}
#content #Home #blog-articles .wrp .posts-list ul .post-item.cat-design .img {
  background: #06b3e6;
}
#content #Cultura {
  position: relative;
}
#content #Cultura #nosso-estudio {
  width: 100%;
  background: #2d2d2d url(../img/cultura-img-1.jpg) no-repeat 0 0;
  background-size: cover;
  position: relative;
}
#content #Cultura #nosso-estudio .wrp {
  width: 100%;
  height: 100%;
  position: relative;
}
#content #Cultura #nosso-estudio .wrp .showreel {
  width: 180px;
  position: absolute;
  top: 180px;
  right: 398px;
}
#content #Cultura #nosso-estudio .wrp .showreel * {
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}
#content #Cultura #nosso-estudio .wrp .showreel a .icon {
  font-family: 'icomoon';
  font-size: 52px;
  color: #06b3e6;
  float: left;
  width: auto;
  display: table;
  line-height: 45px;
}
#content #Cultura #nosso-estudio .wrp .showreel a h4 {
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #06b3e6;
  width: auto;
  display: table;
  float: right;
}
#content #Cultura #nosso-estudio .wrp .showreel:hover a .icon,
#content #Cultura #nosso-estudio .wrp .showreel:hover a h4 {
  color: white;
}
#content #Cultura #nosso-estudio .wrp .info {
  width: 850px;
  position: absolute;
  bottom: 180px;
  left: 50%;
  margin-left: -425px;
}
#content #Cultura #nosso-estudio .wrp .info .title {
  color: white;
}
#content #Cultura #nosso-estudio .wrp .info .text {
  margin-top: 40px;
}
#content #Cultura #nosso-estudio .wrp .info .text p {
  width: 33.33333333%;
  padding-right: 50px;
  float: left;
}
#content #Cultura #nossa-cultura {
  width: 100%;
  background: #f2f2f2;
}
#content #Cultura #nossa-cultura .wrp {
  width: 100%;
  height: 100%;
  padding: 150px 0;
  position: relative;
}
#content #Cultura #nossa-cultura .wrp .info .title {
  color: #2d2d2d;
}
#content #Cultura #nossa-cultura .wrp .info .text {
  width: 290px;
  margin-top: 25px;
}
#content #Cultura #nossa-cultura .wrp .info .text p {
  color: #2d2d2d;
}
#content #Cultura #nossa-cultura .wrp .apaixonados {
  position: absolute;
  top: 0;
  right: 0;
}
#content #Cultura #nossa-historia {
  width: 100%;
  background: #2d2d2d url(../img/cultura-img-2.jpg) no-repeat 0 0;
  background-size: cover;
}
#content #Cultura #nossa-historia .wrp {
  width: 100%;
  height: 100%;
  padding: 240px 0;
  position: relative;
}
#content #Cultura #nossa-historia .wrp .info .title {
  color: white;
}
#content #Cultura #nossa-historia .wrp .info .text {
  width: 290px;
  margin-top: 25px;
}
#content #Cultura #nossa-historia .wrp .info .text p {
  color: white;
}
#content #Cultura #pessoas {
  width: 100%;
  background: white;
}
#content #Cultura #pessoas .wrp {
  width: 100%;
  height: 100%;
  padding: 90px 0;
  position: relative;
}
#content #Cultura #pessoas .wrp .info .title {
  color: #06b3e6;
}
#content #Cultura #pessoas .wrp .os-fodas {
  width: 1120px;
  margin: 50px auto;
  overflow: hidden;
}
#content #Cultura #pessoas .wrp .os-fodas li {
  width: 280px;
  height: 280px;
  float: left;
  overflow: hidden;
  position: relative;
}
#content #Cultura #pessoas .wrp .os-fodas li .p-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 40px;
}
#content #Cultura #pessoas .wrp .os-fodas li .p-info .title,
#content #Cultura #pessoas .wrp .os-fodas li .p-info .role,
#content #Cultura #pessoas .wrp .os-fodas li .p-info .social .icon {
  opacity: 0;
}
#content #Cultura #pessoas .wrp .os-fodas li .p-info .title {
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 45px;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 28px;
}
#content #Cultura #pessoas .wrp .os-fodas li .p-info .role {
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  margin-top: 8px;
}
#content #Cultura #pessoas .wrp .os-fodas li .p-info .social {
  width: auto;
  display: table;
  margin: 10px auto 0;
}
#content #Cultura #pessoas .wrp .os-fodas li .p-info .social .icon {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 20px;
}
#content #Cultura #pessoas .wrp .os-fodas li .p-info .social .icon:last-child {
  margin-right: 0;
}
#content #Cultura #pessoas .wrp .os-fodas li .p-info .social .icon a {
  font-family: 'icomoon';
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  width: 100%;
}
#content #Cultura #pessoas .wrp .os-fodas li .p-info .social .icon a:hover {
  color: #06b3e6;
}
#content #Cultura #pessoas .wrp .os-fodas li .color-opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: black;
  opacity: 0;
}
#content #Cultura #pessoas .wrp .os-fodas li .p-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#content #Cultura #pessoas .wrp .os-fodas li .p-img .p-img-wrp {
  width: 100%;
  height: 100%;
  position: relative;
}
#content #Cultura #pessoas .wrp .os-fodas li .p-img .p-img-wrp img {
  width: 408px;
  height: 272px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -136px 0 0 -204px;
}
#content #Cultura #carreiras {
  width: 100%;
}
#content #Cultura #carreiras .wrp {
  width: 100%;
  height: 100%;
  padding: 90px 280px;
  position: relative;
  overflow: hidden;
}
#content #Cultura #carreiras .wrp .info {
  width: 300px;
  float: left;
}
#content #Cultura #carreiras .wrp .info .title {
  color: #06b3e6;
}
#content #Cultura #carreiras .wrp .info .text p {
  color: #808080;
  padding-top: 50px;
}
#content #Cultura #carreiras .wrp .jobs {
  width: 562px;
  float: right;
  overflow: hidden;
}
#content #Cultura #carreiras .wrp .jobs li {
  width: 280px;
  height: 280px;
  float: left;
  margin-left: 1px;
  position: relative;
  background: #06b3e6;
  padding: 50px 0;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}
#content #Cultura #carreiras .wrp .jobs li:hover {
  background: #2d2d2d;
}
#content #Cultura #carreiras .wrp .jobs li a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#content #Cultura #carreiras .wrp .jobs li h3 {
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 45px;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 28px;
}
#content #Cultura #carreiras .wrp .jobs li p {
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  margin-top: 8px;
}
#content #Trabalhos {
  width: 100%;
  position: relative;
}
#content #Trabalhos .lista {
  width: 100%;
  overflow: hidden;
}
#content #Trabalhos .lista ul {
  width: auto;
  display: table;
  margin: 90px auto 180px;
}
#content #Trabalhos .lista ul li {
  width: 980px;
  height: 745px;
  position: relative;
  display: block;
  margin-bottom: 120px;
  box-shadow: #000000 0 60px 100px -60px;
  backface-visibility: hidden;
}
#content #Trabalhos .lista ul li .content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#content #Trabalhos .lista ul li .content .cont-loader {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 10px;
}
#content #Trabalhos .lista ul li .content .cont-loader #loading-animation {
  width: 48px;
  height: 48px;
}
#content #Trabalhos .lista ul li .content .sumemo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#content #Trabalhos .lista ul li .content .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#content #Trabalhos .lista ul li .content .wrapper .computer {
  width: 555px;
  height: 435px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -217.5px 0 0 -277.5px;
}
#content #Trabalhos .lista ul li .content .wrapper .info {
  width: 500px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -250px;
  overflow: hidden;
}
#content #Trabalhos .lista ul li .content .wrapper .info .dtl {
  width: 0;
  height: 8px;
  background: #e6e6e6;
  margin: 0 auto;
}
#content #Trabalhos .lista ul li .content .wrapper .info .info-wrp {
  width: auto;
  display: table;
  margin: 0 auto 50px;
}
#content #Trabalhos .lista ul li .content .wrapper .info .info-wrp h4 {
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
  letter-spacing: -1px;
  width: auto;
  float: left;
  text-align: right;
  padding-right: 25px;
}
#content #Trabalhos .lista ul li .content .wrapper .info .info-wrp p {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -1px;
  color: #ffffff;
  line-height: 15px;
  width: 250px;
  float: left;
  padding-top: 9px;
}
#content #Trabalhos .lista ul li .content .wrapper .info .info-wrp .arrow {
  width: 30px;
  height: 20px;
  float: left;
  margin-top: 10px;
  overflow: hidden;
  background: url(../img/folio-arrow.png) no-repeat 0 0;
}
#content #Trabalhos .lista ul li .content img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  z-index: 0;
}
#content #Trabalhos .trabalho-loaded {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9900;
  background: #e6e6e6;
  overflow: hidden;
  backface-visibility: hidden;
}
#content #Trabalhos .trabalho-loaded .wrp {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}
#content #Trabalhos .trabalho-loaded .wrp .trab-estilo {
  width: 100%;
  position: relative;
}
#content #Trabalhos .trabalho-loaded .wrp .trab-estilo .descricao {
  width: 500px;
  margin: 0 auto;
  padding: 90px 0;
}
#content #Trabalhos .trabalho-loaded .wrp .trab-estilo .descricao .top {
  width: auto;
  display: table;
  overflow: hidden;
}
#content #Trabalhos .trabalho-loaded .wrp .trab-estilo .descricao .top h4 {
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
  letter-spacing: -1px;
  width: auto;
  float: left;
  text-align: right;
  padding-right: 25px;
}
#content #Trabalhos .trabalho-loaded .wrp .trab-estilo .descricao .top p {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -1px;
  color: #ffffff;
  line-height: 15px;
  width: 250px;
  float: left;
  padding-top: 9px;
}
#content #Trabalhos .trabalho-loaded .wrp .trab-estilo .descricao .text {
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0px;
  color: #ffffff;
  line-height: 24px;
  margin-top: 15px;
}
#content #Trabalhos .trabalho-loaded .wrp .trab-estilo img {
  width: auto;
  display: table;
  margin: 0 auto;
}
#content #Trabalhos .trabalho-loaded .wrp .trab-estilo .next {
  width: 100%;
  padding: 100px;
  background: #d9d9d9;
  position: relative;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}
#content #Trabalhos .trabalho-loaded .wrp .trab-estilo .next a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#content #Trabalhos .trabalho-loaded .wrp .trab-estilo .next:hover {
  background: #b3b3b3;
}
#content #Trabalhos .trabalho-loaded .wrp .trab-estilo .next .top {
  width: auto;
  display: table;
  overflow: hidden;
}
#content #Trabalhos .trabalho-loaded .wrp .trab-estilo .next .top h4 {
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
  letter-spacing: -1px;
  width: auto;
  float: left;
  text-align: right;
  padding-right: 25px;
}
#content #Trabalhos .trabalho-loaded .wrp .trab-estilo .next .top p {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -1px;
  color: #ffffff;
  line-height: 15px;
  width: 150px;
  float: left;
  padding-top: 9px;
}
#content #Trabalhos .trabalho-loaded .wrp .trab-estilo .next .top .arrow {
  width: 30px;
  height: 20px;
  float: left;
  margin-top: 10px;
  overflow: hidden;
  background: url(../img/folio-arrow.png) no-repeat 0 0;
}
#content #Negocios {
  position: relative;
}
#content #Negocios #nosso-negocio {
  width: 100%;
  height: 710px;
  background: #2d2d2d url(../img/negocios-bg.jpg) no-repeat top center;
  background-size: cover;
}
#content #Negocios #nosso-negocio .wrp {
  width: 100%;
  height: 100%;
  position: relative;
}
#content #Negocios #nosso-negocio .wrp .assista {
  width: 100px;
  position: absolute;
  bottom: 216px;
  left: 318px;
}
#content #Negocios #nosso-negocio .wrp .assista * {
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}
#content #Negocios #nosso-negocio .wrp .assista .icon {
  font-family: 'icomoon';
  font-size: 52px;
  color: white;
  float: left;
  width: auto;
  display: table;
  line-height: 45px;
}
#content #Negocios #nosso-negocio .wrp .assista h4 {
  width: auto;
  display: table;
  float: right;
}
#content #Negocios #nosso-negocio .wrp .assista h4 a {
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
}
#content #Negocios #nosso-negocio .wrp .assista:hover .icon,
#content #Negocios #nosso-negocio .wrp .assista:hover h4 a {
  color: #06b3e6;
}
#content #Negocios #nosso-negocio .wrp .info {
  padding-top: 180px;
}
#content #Negocios #nosso-negocio .wrp .info .title {
  color: white;
}
#content #Negocios #nosso-negocio .wrp .info .text {
  margin-top: 50px;
}
#content #Negocios #nosso-negocio .wrp .info .text p {
  width: 33.33333333%;
  padding-right: 50px;
  float: left;
}
#content #Negocios #nosso-negocio .wrp .info .text p span {
  font-weight: bold;
}
#content #Negocios #modelo {
  width: 100%;
  padding: 90px 0;
  background: #141414;
}
#content #Negocios #modelo .wrp {
  width: 100%;
  height: 100%;
  position: relative;
}
#content #Negocios #modelo .wrp .lista-modelo {
  width: auto;
  margin: 0 auto;
  display: table;
}
#content #Negocios #modelo .wrp .lista-modelo li {
  width: 160px;
  display: table;
  float: left;
  margin-right: 40px;
}
#content #Negocios #modelo .wrp .lista-modelo li:last-child {
  margin-right: 0;
}
#content #Negocios #modelo .wrp .lista-modelo li h4 {
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #06b3e6;
  line-height: 20px;
}
#content #Negocios #modelo .wrp .lista-modelo li ul {
  width: 100%;
  margin-top: 20px;
}
#content #Negocios #modelo .wrp .lista-modelo li ul li {
  width: 100%;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -1px;
  color: #ffffff;
  line-height: 18px;
}
#content #Negocios #como-fazemos {
  width: 100%;
  padding: 90px 0;
}
#content #Negocios #como-fazemos .wrp {
  width: 100%;
  height: 100%;
}
#content #Negocios #como-fazemos .wrp .info .title {
  color: #06b3e6;
  padding-top: 90px;
}
#content #Negocios #como-fazemos .wrp .lista {
  width: auto;
  display: table;
  margin: 100px auto 0;
}
#content #Negocios #como-fazemos .wrp .lista li {
  width: auto;
  display: table;
  overflow: hidden;
  margin-bottom: 50px;
}
#content #Negocios #como-fazemos .wrp .lista li svg {
  width: 140px;
  height: 140px;
  float: left;
  margin-right: 30px;
}
#content #Negocios #como-fazemos .wrp .lista li h3 {
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -2px;
  color: #808080;
  line-height: 24px;
  float: left;
  width: 180px;
  display: table;
  margin-right: 40px;
  padding-top: 5px;
  text-align: center;
}
#content #Negocios #como-fazemos .wrp .lista li p {
  width: 700px;
  float: left;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0px;
  color: #666666;
  line-height: 24px;
}
#content #Contato {
  width: 100%;
}
#content #Contato #header {
  width: 100%;
  padding: 150px 0;
  position: relative;
  background: #2d2d2d;
  overflow: hidden;
}
#content #Contato #header .wrp {
  width: 100%;
  height: 100%;
  position: relative;
}
#content #Contato #header .wrp .info .title {
  width: 255px;
  float: left;
  color: white;
}
#content #Contato #header .wrp .info .text {
  width: auto;
  float: left;
  margin-left: 50px;
  overflow: hidden;
}
#content #Contato #header .wrp .info .text .block {
  width: auto;
  display: table;
  float: left;
  margin-right: 20px;
}
#content #Contato #header .wrp .info .text .block:last-child {
  margin-right: 0;
}
#content #Contato #header .wrp .info .text .block p span {
  font-weight: bold;
}
#content #Contato #header .wrp .info .text .block a {
  color: white;
  font-weight: bold;
}
#content #Contato #header .wrp .info .text .block .skype {
  width: auto;
  display: table;
  margin-top: 35px;
}
#content #Contato #header .wrp .info .text .block .skype p {
  width: auto;
  display: table;
  float: left;
  position: relative;
}
#content #Contato #header .wrp .info .text .block .skype p:after {
  content: "";
  width: 15px;
  height: 1px;
  background: white;
  position: absolute;
  top: 10px;
  right: -25px;
}
#content #Contato #header .wrp .info .text .block .skype a {
  float: left;
  margin-left: 34px;
  font-size: 14px;
  margin-top: 2px;
}
#content #Contato #header .wrp .info .text .block .skype a:hover {
  color: #06b3e6;
}
#content #Contato #emails {
  width: 100%;
  background: #e6e6e6;
  padding: 120px 0;
}
#content #Contato #emails .wrp {
  width: 100%;
  height: 100%;
  position: relative;
}
#content #Contato #emails .wrp .lista {
  width: auto;
  display: table;
  margin: 0 auto;
}
#content #Contato #emails .wrp .lista li {
  width: 240px;
  float: left;
  margin-right: 30px;
}
#content #Contato #emails .wrp .lista li:last-child {
  margin-right: 0;
}
#content #Contato #emails .wrp .lista li h4 {
  font-family: 'Knockout 27 A', 'Knockout 27 B';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #06b3e6;
  line-height: 20px;
  width: 60%;
  height: 50px;
}
#content #Contato #emails .wrp .lista li a {
  width: 100%;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0px;
  color: #141414;
  line-height: 18px;
  margin-top: 20px;
}
#content #Contato #emails .wrp .lista li a:hover {
  color: #06b3e6;
}
#content #Contato #slide {
  width: 100%;
  height: 780px;
}
#content #Contato #slide .wrp {
  width: 100%;
  height: 100%;
}
#content #Contato #slide .wrp .slider {
  width: 100%;
  height: 780px;
}
#content #Contato #slide .wrp .slider .item {
  width: 100%;
  height: 780px;
  position: relative;
}
#content #Contato #slide .wrp .slider .item.sld-1 {
  background: url(../img/contato-sld-1.jpg) no-repeat 0 0;
  background-size: cover;
}
#content #Contato #slide .wrp .slider .rsBullets {
  width: 84px;
  position: absolute;
  z-index: 7000;
  bottom: 60px;
  left: 50%;
  margin-left: -42px;
}
#content #Contato #slide .wrp .slider .rsBullets .rsBullet {
  width: 10px;
  height: 10px;
  background: #e6e6e6;
  border-radius: 50px;
  float: left;
  margin-right: 12px;
}
#content #Contato #slide .wrp .slider .rsBullets .rsBullet:last-child {
  margin-right: 0;
}
#content #Contato #slide .wrp .slider .rsBullets .rsBullet.rsNavSelected {
  background: white;
}
#content #footer {
  width: 100%;
  display: table;
  padding: 80px 0;
}
#content #footer .footer-wrp {
  width: 100%;
  padding: 0 140px;
}
#content #footer .footer-wrp .social {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 24px;
  margin-bottom: 34px;
}
#content #footer .footer-wrp .social ul {
  width: auto;
  display: table;
  float: left;
}
#content #footer .footer-wrp .social ul li {
  width: auto;
  display: table;
  float: left;
  margin-right: 12px;
}
#content #footer .footer-wrp .social ul li a {
  font-family: 'icomoon';
  font-size: 25px;
  color: #2d2d2d;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}
#content #footer .footer-wrp .social ul li a:hover {
  color: #7a7a7a;
}
#content #footer .footer-wrp .copy-menu {
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0px;
  color: #000000;
}
#content #footer .footer-wrp .copy-menu .copy {
  width: auto;
  float: left;
}
#content #footer .footer-wrp .copy-menu .footer-nav {
  width: auto;
  float: right;
}
#content #footer .footer-wrp .copy-menu .footer-nav li {
  width: auto;
  float: left;
  margin-left: 12px;
}
#content #footer .footer-wrp .copy-menu .footer-nav li:after {
  content: "/";
  float: right;
  margin-left: 10px;
}
#content #footer .footer-wrp .copy-menu .footer-nav li:last-child:after {
  content: '';
}
#content #footer .footer-wrp .copy-menu .footer-nav li a {
  color: black;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
}
#content #footer .footer-wrp .copy-menu .footer-nav li a:hover {
  color: #666666;
}
/*
Version: 1.0
Author: Nauris Kolāts | Streamline
Author URI: http://www.majas-lapu-izstrade.lv
*/
img.grayscale {
  filter: url('../js/filters.svg#grayscale');
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
  width: 100%;
  height: auto;
  position: relative;
  direction: ltr;
}
.royalSlider > * {
  float: left;
}
.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0);
}
.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden;
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none;
}
.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0;
}
.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsArrow,
.rsThumbsArrow {
  cursor: pointer;
}
.rsThumb {
  float: left;
  position: relative;
}
.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}
.rsGCaption {
  width: 100%;
  float: left;
  text-align: center;
}
/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}
.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none;
}
.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto;
}
.rsContent {
  width: 100%;
  height: 100%;
  position: relative;
}
.rsPreloader {
  position: absolute;
  z-index: 0;
}
.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
.rsNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
}
.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22;
}
.rsTabs {
  float: left;
  background: none !important;
}
.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rsVideoContainer {
  /*left: 0;
    top: 0;
    position: absolute;*/
  /*width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative;
}
.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s;
}
.rsVideoFrameHolder.rsVideoActive {
  opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px;
}
.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15;
}
img.rsImg {
  max-width: none;
}
.grab-cursor {
  cursor: url(grab.png) 8 8, move;
}
.grabbing-cursor {
  cursor: url(grabbing.png) 8 8, move;
}
.rsNoDrag {
  cursor: auto;
}
.rsLink {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background: url(blank.gif);
}
