<div id="t-tecer" class="trab-estilo">

	<div class="descricao">
		<div class="top">
			<h4>TECER</h4>
			<p>TERMINAIS PORTUÁRIOS<br/>SITE INSTITUCIONAL</p>
		</div>
		<p class="text">
			A Tecer é uma das mais modernas operadoras portuárias que trabalha no Terminal Portuário do Pecém desde 2002. Especializada em movimentações diversas como: Contêineres, Carga geral, Granéis Sólidos e Cargas de Projetos. A empresa é resultado do investimento dos seus acionistas Termaco Logística e Tomé Engenharia.
		</p>
		<div class="btn-access"><a href="http://tecerterminais.com.br" target="_blank">ACESSAR WEBSITE</a></div>
	</div>
	
	
	<div class="img-1"><img src="src/templates/trabalhos/tecer/img-1.png" alt=""></div>

	<div class="bloco-text">
		<h3>PROCESSO</h3>
		<p class="t">
			A Tecer Terminais valoriza muito sua identidade, pra isso, buscamos nos seus serviços o diferencial pro design do projeto. Criar um site institucional diferente e de acordo com a marca é um desafio muito interessante, fugir de clichês e modismos foi nosso foco. Buscamos mudar a relação de navegação e valorizar os serviços de forma destacada, usando recursos sutis e uma linguagem moderna.
		</p>
	</div>

	<img src="src/templates/trabalhos/tecer/img-3.png" alt="" style="margin-top: 90px;">
	<img src="src/templates/trabalhos/tecer/img-4.jpg" alt="" style="margin-top: 110px;">
	<img src="src/templates/trabalhos/tecer/img-5.png" alt="" style="margin-top: 1148px;">
	<img src="src/templates/trabalhos/tecer/img-6.jpg" alt="" style="margin-top: 40px;">
	<img src="src/templates/trabalhos/tecer/img-7.jpg" alt="" style="margin: 40px auto;">



	<div class="space"></div>
	

	<div class="next">
		<a href="#/trabalhos/metropole"></a>
		<div class="top">
			<h4>TV METRÓPOLE</h4>
			<p>VEJA O<br/>PRÓXIMO PROJETO</p>
			<div class="arrow"></div>
		</div>
	</div>

</div>