<section id="Negocios" class="blc-interno">
	
	<div id="nosso-negocio" class="bloco">
		<div class="wrp">
			
			<div class="info">
				<div class="title">NOSSO <br/>NEGÓCIO</div>
				<div class="text">
					<p>
						<span>MISSÃO</span><br/>Desenvolver soluções diferenciadas em comunicação digital, trabalhando sempre com a inovação e pesquisa.
					</p>
					<p>
						<span>VISÃO<br/></span>Ser um estúdio digital referência em inovação e qualidade, que dita tendências e investe constantemente em valores intangíveis, na satisfação de pessoas e resultados das empresas parceiras.
					</p>
				</div>
			</div>

			<!-- <div class="assista">
				<div class="icon">B</div>
				<h4><a href="#">ASSISTA</a></h4>
			</div> -->

		</div>
	</div>


	<div id="modelo" class="bloco">
		<div class="wrp">
			
			<ul class="lista-modelo">
				<li>
					<h4>PRODUTOS <br/>& SOLUÇÕES</h4>
					<ul>
						<li>website</li>
						<li>mobile</li>
						<li>game</li>
						<li>cms</li>
						<li>apps</li>
						<li>videos</li>
					</ul>
				</li>
				<li>
					<h4>ESTRATÉGIA <br/>DE MARCA</h4>
					<ul>
						<li>branding</li>
						<li>posicionamento</li>
						<li>identidade</li>
						<li>ativação</li>
						<li>publicação</li>
						<li>design</li>
					</ul>
				</li>
				<li>
					<h4>PLATAFORMA <br/>DE COMUNICAÇÃO</h4>
					<ul>
						<li>branding digital</li>
						<li>social media</li>
						<li>e-commerce</li>
						<li>gestão de conteúdo</li>
					</ul>
				</li>
				<li>
					<h4>EXPERIÊNCIA <br/>DE MARCA</h4>
					<ul>
						<li>campanhas interativas</li>
						<li>eventos</li>
						<li>gamefication</li>
						<li>story telling</li>
						<li>branded content</li>
					</ul>
				</li>
			</ul>

		</div>
	</div>



	<div id="como-fazemos">
		<div class="wrp">
			
			<div class="info">
				<div class="title">COMO FAZEMOS </br>NOSSO TRABALHO</div>
			</div>

			<ul class="lista">
				<li>
					<svg id="busca-pesquisa-icon"></svg>
					<h3>Busca & </br>Pesquisa</h3>
					<p>
						Em primeiro lugar ouvimos nossos clientes, o objetivo é estreitar o relacionamento e compreender o negócio. Sentir essa presença no próprio ambiente do ciente é o que nos motiva e inspira a enxergar de um modo único sua cultura. A conversa acontece naturalmente, envolvemos todos os departamentos, não nos limitamos a grande direção, queremos analisar todos os detalhes de vários ângulos. Identificar as atividades realizadas atualmente para compreender as reais necessidades olhando a partir da perspectiva do público-alvo.
					</p>
				</li>
				<li>
					<svg id="planejamento-icon"></svg>
					<h3>Planejamento</h3>
					<p>
						Tornamos a pesquisa em um conjunto claro de insights. Traçamos objetivos e requisitos do negócio criando personas e cenários de uma visão estratégica contribuindo com a definição da mensagem e posicionamento da marca. O ciclo de vida se inicia, todos os planejamentos de produtos, conexões e comunicação são evoluidos de acordo com a estrutura interna da organização. Prazos e fluxos de trabalho completam as necessidades fundamenais para a execução bem sucedida do projeto.
					</p>
				</li>
				<li>
					<svg id="criacao-interacao-icon"></svg>
					<h3>Criação & </br>Interação</h3>
					<p>
						Chega a hora de elaborar os conceitos criativos de apoio a estratégia global da marca. Buscamos todas as possibilidades de interação e testamos tudo ao extremo, nesse momento observamos excessos e limitações. O controle e o foco nas ideias é muito importante nessa fase, aguçar as percepções do negócio e dos clientes é decisivo para o resultado esperado. Mood Boards, quadros branco, rascunhos e muito brainstorm até chegarmos no resultado claro do que será feito. Protótipos são elaborados para expor o conceito e testar diretamente com o público-alvo. Unimos todos os envolvidos no projeto cada expertise traz uma perspectiva única que não é privado somente aos criativos, todas as disciplinas são mescladas.
					</p>
				</li>
				<li>
					<svg id="execucao-icon"></svg>
					<h3>Execução</h3>
					<p>
						Organização é tudo nessa hora, traduzir os conceitos em produtos incríveis. Na execução temos que controlar enormes fluxos de trabalho e atividades, todas as habilidades de design e tecnologia são unidas, conciliando a produção de conteúdo e elementos especiais pra cada tipo de projeto.
					</p>
				</li>
				<li>
					<svg id="gestao-icon"></svg>
					<h3>Gestão & </br> Métricas</h3>
					<p>
						Precisamos saber se todas as iniciativas tiveram seu retorno conforme seus indicadores chave de desempenho. Medimos o produto ou plataforma, campanhas e mídias sociais. A gestão de relacionamento com o cliente começa nessa fase, avaliamos o avanço juntos, decidindo rumos para fortalecimento da marca e apresentado novos insights para evolução da experiência.
					</p>
				</li>
				<li>
					<svg id="evolucao-icon"></svg>
					<h3>Evolução</h3>
					<p>
						Evoluir sempre, tomamos decisões estratégicas de acordo com o avanço da gestão de relacionamento e os dados coletados. Aumentar a experiência, conduzir a conversão correta e eficaz, promover campanhas e ações de brand, melhorar o ROI, medindo e evoluindo no negócio.
					</p>
				</li>
				<li>
					<svg id=""></svg>
					<h3></h3>
					<p></p>
				</li>
			</ul>

		</div>
	</div>


</section>