
<section id="Home">
	
	<div id="feature" full-viewport>
		<div class="wrp">
			
			<div class="btn-prev btn-control-slider"><svg></svg></div>
			<div class="btn-next btn-control-slider"><svg></svg></div>
			
			<div class="btn-blog">
				<h4>BLOG</h4>
				<svg id="btn-blog-arrow"></svg>
				<svg id="btn-blog-circle"></svg>
			</div>

			<div class="slider royalslider">
				<div class="sld pipa">
					<div class="sld-wrp rsContent">
						<div class="frase rsABlock"></div>
						<p class="rsABlock">E NÃO É PARA FRACOS. VIVEMOS ISSO TODO DIA.<br/>BEM-VINDO À NOSSA NOVA VERSÃO.</p>
					</div>
				</div>
				<div class="sld inace">
					<div class="sld-wrp rsContent">
						<div class="computer-img rsABlock" style="background: url(src/img/sld-home-3-1.png) no-repeat 0 0;"></div>
						<div class="illustration rsABlock" style="background: url(src/img/sld-home-3-2.png) no-repeat 0 0;"></div>
						<div class="info rsABlock">
							<a href="#/trabalhos/inace"></a>
							<h4>INACE</h4>
							<p>LÍDER NACIONAL NA CONSTRUÇÃO DE <br/>IATES E NAVIOS DE PATRULHA</p>
						</div>
					</div>
				</div>
				<div class="sld gourmar">
					<div class="sld-wrp rsContent">
						<div class="computer-img rsABlock" style="background: url(src/img/sld-home-2-1.png) no-repeat 0 0;"></div>
						<div class="illustration rsABlock" style="background: url(src/img/sld-home-2-2.png) no-repeat 0 0;"></div>
						<div class="info rsABlock">
							<a href="#/trabalhos/gourmar"></a>
							<h4>GOURMAR PESCADOS</h4>
							<p>CAMARÕES DE QUALIDADE<br/>SITE INSTITUCIONAL</p>
						</div>
					</div>
				</div>
				<div class="sld red-diamond">
					<div class="sld-wrp rsContent">
						<div class="computer-img rsABlock" style="background: url(src/img/sld-home-1-1.png) no-repeat 0 0;"></div>
						<div class="illustration rsABlock" style="background: url(src/img/sld-home-1-2.png) no-repeat 0 0;"></div>
						<div class="info rsABlock">
							<a href="#/trabalhos/red"></a>
							<h4>RED DIAMOND</h4>
							<p>UMA NOVA EXPERIÊNCIA NA VENDA<br/>DE FERRAMENTAS DE CORTE</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>


	<div id="blog-articles">
		<div class="wrp">
			
			<div class="header">
				<div class="header-wrp">
					<h4>A gente adora repassar conhecimento.</h4>
					<a href="http://pipadigital.blog.br" target="_blank" class="ver-postagens">VEJA TODAS AS POSTAGENS</a>
				</div>
			</div>

			<div class="posts-list">
				<ul>
					<li class="post-item cat-dev">
						<a class="full" href="http://pipadigital.blog.br/download-da-traducao-joomla-3-2-x/" target="_blank"></a>
						<div class="info">
							<div class="dtl"></div>
							<h4 class="category"><a href="http://pipadigital.blog.br/category/desenvolvimento/">DEVELOPMENT</a></h4>
							<h4 class="autor">JANDERSON MOREIRA</h4>
							<h2 class="title">Download da tradução do Joomla 3.2.x</h2>
						</div>
						<div class="img">
							<img src="src/img/blog_img_1.jpg" alt="" style="margin-left: -120px;">
						</div>
					</li>
					<li class="post-item cat-buss">
						<a class="full" href="http://pipadigital.blog.br/politica-de-midias-sociais-nas-empresas/"></a>
						<div class="info">
							<div class="dtl"></div>
							<h4 class="category"><a href="#">BUSINESS</a></h4>
							<h4 class="autor">ISABELLE GADELHA</h4>
							<h2 class="title">Política de mídias sociais</h2>
						</div>
						<div class="img">
							<img src="src/img/blog_img_5.jpg" alt="" style="margin-left: -160px;">
						</div>
					</li>
				</ul>
				<ul>
					<li class="post-item cat-design sq">
						<a class="full" href="http://pipadigital.blog.br/review-1-peek-calendar/"></a>
						<div class="info">
							<div class="dtl"></div>
							<h4 class="category"><a href="http://pipadigital.blog.br/category/design/">DESIGN</a></h4>
							<h4 class="autor">GLÁUBER SAMPAIO</h4>
							<h2 class="title">Review #1 - Peek Calendar</h2>
						</div>
						<div class="img">
							<img src="src/img/blog_img_2.jpg" alt="" style="margin-left: -90px;">
						</div>
					</li>
					<li class="post-item cat-buss">
						<a class="full" href="http://pipadigital.blog.br/o-que-diminui-o-alcance-seu-conteudo-facebook/"></a>
						<div class="info">
							<div class="dtl"></div>
							<h4 class="category"><a href="#">BUSINESS</a></h4>
							<h4 class="autor">ISABELLE GADELHA</h4>
							<h2 class="title">Fatores que diminuem o alcance do post no Facebook</h2>
						</div>
						<div class="img">
							<img src="src/img/blog_img_6.jpg" alt="" style="margin-left: -160px;">
						</div>
					</li>
				</ul>
				<ul>
					<li class="post-item cat-dev">
						<a class="full" href="http://pipadigital.blog.br/como-instalar-joomla-localmente-seu-computador/"></a>
						<div class="info">
							<div class="dtl"></div>
							<h4 class="category"><a href="#">DEVELOPMENT</a></h4>
							<h4 class="autor">JANDERSON MOREIRA</h4>
							<h2 class="title">Como instalar Joomla localmente (no seu computador)</h2>
						</div>
						<div class="img">
							<img src="src/img/blog_img_3.jpg" alt="" style="margin-left: -100px;">
						</div>
					</li>
					<li class="post-item cat-dev">
						<a class="full" href="http://pipadigital.blog.br/emmet-io-atalhos-fazem-toda-diferenca/"></a>
						<div class="info">
							<div class="dtl"></div>
							<h4 class="category"><a href="#">DEVELOPMENT</a></h4>
							<h4 class="autor">GLÁUBER SAMPAIO</h4>
							<h2 class="title">Emmet.io – Atalhos fazem toda diferença.</h2>
						</div>
						<div class="img">
							<img src="src/img/blog_img_7.jpg" alt="" style="margin-left: -120px;">
						</div>
					</li>
				</ul>
				<ul>
					<li class="post-item cat-buss">
						<a class="full" href="http://pipadigital.blog.br/o-podio-e-sua-filosofia-de-produtividade-social-colaborativa/"></a>
						<div class="info">
							<div class="dtl"></div>
							<h4 class="category"><a href="#">BUSINESS</a></h4>
							<h4 class="autor">MARCO GEORGE</h4>
							<h2 class="title">O Podio e sua filosofia de produtividade social colaborativa.</h2>
						</div>
						<div class="img">
							<img src="src/img/blog_img_8.jpg" alt="" style="margin-left: -120px;">
						</div>
					</li>
					<li class="post-item cat-buss sq">
						<a class="full" href="http://pipadigital.blog.br/assessoria-de-imprensa-mais-que-uma-tendencia/"></a>
						<div class="info">
							<div class="dtl"></div>
							<h4 class="category"><a href="#">BUSINESS</a></h4>
							<h4 class="autor">MONIQUE OLIVEIRA</h4>
							<h2 class="title">Assessoria de imprensa: mais do que uma tendência</h2>
						</div>
						<div class="img">
							<img src="src/img/blog_img_4.jpg" alt="" style="margin-left: -160px;">
						</div>
					</li>
				</ul>
			</div>

		</div>
	</div>


</section>