<div id="Contato" class="blc-interno">
	
	<div id="header" class="blc">
		
		<div class="wrp">
			
			<div class="info">
				<div class="title">SERÁ UM ENORME PRAZER TER VOCÊ COM A GENTE!</div>
				<div class="text">
					<div class="block">
						<p>
							Rua Irmã Bazet, 753 Sala 07 - Montese<br/>Fortaleza, CE - Brazil<br/>CEP 99999-999
						</p>
						<div class="skype">
							<p>Skype</p>
							<a href="#skype">pipa.digital</a>
						</div>
					</div>
					<div class="block">
						<p><span>+55 85 3491 7247<br/>+55 85 8684 3981</span></p>
					</div>
				</div>
			</div>

		</div>

	</div>


	
	<div id="emails">
		<div class="wrp">
			
			<ul class="lista">
				<li>
					<h4>SOBRE QUALQUER ASSUNTO</h4>
					<a href="mailto:pipa@pipadigital.com.br">pipa@pipadigital.com.br</a>
				</li>
				<li>
					<h4>QUER FAZER UM TRABALHO CONOSCO?</h4>
					<a href="mailto:negocios@pipadigital.com.br">negocios@pipadigital.com.br</a>
				</li>
				<li>
					<h4>ATENDIMENTO</h4>
					<a href="mailto:atendimento@pipadigital.com.br">atendimento@pipadigital.com.br</a>
				</li>
				<li>
					<h4>DEU VONTADE DE TRABALHAR AQUI?</h4>
					<a href="mailto:carreiras@pipadigital.com.br">carreiras@pipadigital.com.br</a>
				</li>
			</ul>

		</div>
	</div>


	<div id="slide">
		<div class="wrp">
			
			<div class="slider royalSlider">
				<div class="item sld-1"></div>
				<div class="item sld-1"></div>
				<div class="item sld-1"></div>
				<div class="item sld-1"></div>
			</div>

		</div>
	</div>



</div>