<div id="t-gourmar" class="trab-estilo">

	<div class="descricao">
		<div class="top">
			<h4>GOURMAR PESCADOS</h4>
			<p>CAMARÕES DE QUALIDADE<br/>SITE INSTITUCIONAL</p>
		</div>
		<p class="text">
			A Gourmar Pescados é uma empresa localizada no município de Aracati, no estado do Ceará. Especializada na produção e comercialização de camarões congelados, destinados a restaurantes, hotéis e comércio varejista. 
		</p>
		<div class="btn-access"><a href="http://gourmarpescados.com.br" target="_blank">ACESSAR WEBSITE</a></div>
	</div>
	
	
	<div class="img-1"><img src="src/templates/trabalhos/gourmar/img-1.png" alt=""></div>


	<div class="bloco-text">
		<h3>PROCESSO</h3>
		<p class="t">
			Com pouco tempo de existência, a empresa decidiu investir no digital para alavancar a visibilidade e apresentar a qualidade de seu produto, além de mostrar aos usuários domésticos que é possível preparar um bom camarão e com requinte, utilizando os produtos Gourmar Pescados. Nesse projeto, utilizamos um caminho muito interessante, criamos várias ilustrações e storyboards seguindo um roteiro de apresentação do produto.
		</p>
		<p class="t">
			Fizemos todo esse processo de maneira artesanal, simulando animações e parallax no papel. Usamos um processo lúdico, e ficamos mais livres para criar sem barreiras. Na hora de implementar, o projeto ficou muito claro sobre o que  poderíamos explorar e qual caminho seguir.
		</p>
	</div>
	
	<img src="src/templates/trabalhos/gourmar/img-2.jpg" alt="" style="margin-top: 80px;">

	<div class="space"></div>

	<div class="next">
		<a href="#/trabalhos/red"></a>
		<div class="top">
			<h4>RED DIAMOND</h4>
			<p>VEJA O<br/>PRÓXIMO PROJETO</p>
			<div class="arrow"></div>
		</div>
	</div>

</div>