<div id="t-vega" class="trab-estilo">

	<div class="descricao">
		<div class="top">
			<h4>VEGA TRANSPORTES</h4>
			<p>SITE INSTITUCIONAL</p>
		</div>
		<p class="text">
			Empresa de Transporte Urbano que opera na cidade de Fortaleza. Atualmente possui 47 linhas, atingindo toda a cidade de fortaleza e é a maior empresa do sistema de transporte da cidade, atendendo aproximadamente 21% das linhas da cidade, realizando 13% das viagens do sistema e com uma frota de mais de 250 veículos. Proporcionar aos usuários do sistema de tranporte e público geral o conceito institucional da empresa, mostrando um pouco do dia a dia, cultura, projetos sociais, prêmios, entre outros.Como a busca por informações das linhas é um item bastante relevante, era necessário desenvolver um ambiente onde os usuários pudessem consumir maiores informações como: mapa de percurso, horários, paradas, extensão da linha.
		</p>
		<div class="btn-access"><a href="http://vegasa.com.br" target="_blank">ACESSAR WEBSITE</a></div>
	</div>
	
	<div class="img-1"><img src="src/templates/trabalhos/vega/img-1.png" alt=""></div>

	<img src="src/templates/trabalhos/vega/img-2.png" alt="" style="margin-top: 90px;">
	<img src="src/templates/trabalhos/vega/img-3.jpg" alt="" style="margin-top: 80px;">

	<div class="bloco-text">
		<h3>IDENTIDADE DIGITAL</h3>
		<p class="t">
			O processo criativo do projeto Vega foi muito interessante, no briefing de criação tinhamos que explorar 3 elementos: Excelência do serviço, Compromisso e Inovação. Falar sobre as tecnologias embarcadas os processos e como funciona o sistema de transportes da cidade também era necessário, mas dizer isso apenas em texto não funcionaria. Em vários brainstorms com a aquipe surgiu a seguinte ideia que virou o mote do projeto:
		</p>
		<p class="t">
			Como funciona uma empresa de transporte urbano? O que acontece quando o ônibus entra na garagem? A partir desse mote conseguimos explorar diversos recursos pra contar essa história. Produzimos fotos e vídeos interativos, infográficos, redes sociais e canal de empregos.
		</p>
	</div>

	<img src="src/templates/trabalhos/vega/img-4.png" alt="" style="margin-top: 150px;">
	<img src="src/templates/trabalhos/vega/img-5.png" alt="" style="margin-top: 166px;">


</div>