<section id="Cultura" class="blc-interno">
	
	<div id="nosso-estudio" full-height class="bloco">
		<div class="wrp">
			
			<!-- <div class="showreel">
				<a href="#"><span class="icon">B</span><h4>ASSISTA SHOW-REEL</h4></a>
			</div> -->

			<div class="info">
				<div class="title">NOSSO <br/>ESTÚDIO</div>
				<div class="text">
					<p>
						Com mais de 5 anos de atuação no mercado, a pipa é um estúdio digital que vem acumulando experiência neste ambiente, colecionando cases inovadores e desenhando um novo patamar cultural no segmento.
					</p>
					<p>
						Em um mercado onde cada vez mais é evidente a ausência de cases diferenciados e a sede em busca do novo e de qualidade, a nossa equipe vem investindo muito em pesquisa e encontrando sempre novas possibilidades para que uma marca possa ser vista de maneira única e especial.
					</p>
					<p>
						Esse é o lema da nossa empresa. A grande diferença do nosso estúdio, está na preocupação em conhecer muito mais sobre nossos parceiros, o que facilita a construção de um ambiente único e atrativo para o público alvo, promovendo um novo e crescente ciclo de relacionamento: estúdio - parceiro - alvo.
					</p>
				</div>
			</div>

		</div>
	</div>



	<div id="nossa-cultura" class="bloco">
		<div class="wrp">
			
			<div class="info">
				<div class="title">NOSSA<br/>CULTURA</div>
				<div class="text">
					<p>
						Temos muito para contar sobre nós, todos os momentos são muito valiosos: brincadeiras, conversas, discussões, que não poderíamos deixar de compartilhar. É isso que nos alimenta de várias possibilidades e não nos impõem limites para o ambiente criativo. Acompanhe também em nosso facebook
					</p>
				</div>
			</div>

			<canvas id="canvas" class="apaixonados"></canvas>


		</div>
	</div>


	<div id="nossa-historia" class="bloco">
		<div class="wrp">
			
			<div class="info">
				<div class="title">NOSSA<br/>HISTÓRIA</div>
				<div class="text">
					<p>
						Começamos modestos em 2008, após alguns anos trabalhando em agências e empresas de comércio, decidimos entrar de cabeça na criação de uma empresa com muita personalidade. Aprendemos muito ao longo do tempo, plantamos nossos valores e cultivamos relacionamentos duradouros com nossos clientes e parceiros. Receber esse apoio e proporcionar uma liberdade criativa nos ajuda a criar projetos inovadores para clientes incríveis.
					</p>
				</div>
			</div>

		</div>
	</div>


	<div id="pessoas" class="bloco">
		<div class="wrp">
			
			<div class="info">
				<div class="title">PESSOAS</div>
			</div>

			<ul class="os-fodas">
				<li>
					<div class="p-info">
						<h4 class="title">MARCO GEORGE</h4>
						<p class="role">CO-FOUNDER/CRIAÇÃO</p>
						<div class="social">
							<div class="icon"><a href="https://www.facebook.com/marcogeorgeol" target="_blank">A</a></div>
							<div class="icon"><a href="https://twitter.com/marcogeorge" target="_blank">C</a></div>
						</div>
					</div>
					<div class="color-opacity"></div>
					<div class="p-img">
						<div class="p-img-wrp">
							<img src="src/img/cultura-pessoas-1.jpg" alt="">
						</div>
					</div>
				</li>
				<li>
					<div class="p-info">
						<h4 class="title">RONALDO MOREIRA</h4>
						<p class="role">CEO/CLIENTES</p>
						<div class="social">
							<div class="icon"><a href="https://www.facebook.com/ronaldo.mc.7" target="_blank">A</a></div>
						</div>
					</div>
					<div class="color-opacity"></div>
					<div class="p-img">
						<div class="p-img-wrp">
							<img src="src/img/cultura-pessoas-5.jpg" alt="">
						</div>
					</div>
				</li>
				<li>
					<div class="p-info">
						<h4 class="title">LUCAS LIMA</h4>
						<p class="role">MÍDIAS SOCIAIS</p>
						<div class="social">
							<div class="icon"><a href="https://twitter.com/limalucas9" target="_blank">E</a></div>
						</div>
					</div>
					<div class="color-opacity"></div>
					<div class="p-img">
						<div class="p-img-wrp">
							<img src="src/img/cultura-pessoas-2.jpg" alt="">
						</div>
					</div>
				</li>
				<li>
					<div class="p-info">
						<h4 class="title">MAICOL SANTOS</h4>
						<p class="role">FRONT-END</p>
						<div class="social">
							<div class="icon"><a href="https://www.facebook.com/maicol.santos.8" target="_blank">A</a></div>
							<div class="icon"><a href="https://github.com/maicol-dg" target="_blank">F</a></div>
						</div>
					</div>
					<div class="color-opacity"></div>
					<div class="p-img">
						<div class="p-img-wrp">
							<img src="src/img/cultura-pessoas-3.jpg" alt="">
						</div>
					</div>
				</li>
				<li>
					<div class="p-info">
						<h4 class="title">GLÁUBER SAMPAIO</h4>
						<p class="role">FRONT-END/DESIGN</p>
						<div class="social">
							<div class="icon"><a href="https://www.facebook.com/eusouglauber" target="_blank">A</a></div>
							<div class="icon"><a href="https://twitter.com/glauber_sampaio" target="_blank">C</a></div>
							<div class="icon"><a href="https://github.com/glauber-sampaio" target="_blank">F</a></div>
						</div>
					</div>
					<div class="color-opacity"></div>
					<div class="p-img">
						<div class="p-img-wrp">
							<img src="src/img/cultura-pessoas-4.jpg" alt="">
						</div>
					</div>
				</li>
			</ul>

		</div>
	</div>



	<div id="carreiras" class="blocos">
		<div class="wrp">
			
			<div class="info">
				<div class="title">CARREIRAS</div>
				<div class="text">
					<p>
						Gosta do nosso trabalho? Tem muita vontade de contribuir com projetos desafiadores? <br/>Nesta seção você vai encontrar as vagas em aberto e novas possibilidades de trabalhar na Pipa. Fale com a gente, estamos abertos pra conversar sobre parcerias.
					</p>
				</div>
			</div>

			<ul class="jobs">
				<li>
					<a href="#/carreiras/webdesigner"></a>
					<h3>WEB <br/>DESIGNER</h3>
					<p>FREELANCER</p>
				</li>
				<li>
					<a href="#/carreiras/produtor-interativo"></a>
					<h3>PRODUTOR INTERATIVO</h3>
					<p>PARTIAL-TIME</p>
				</li>
			</ul>

		</div>
	</div>


</section>